version: '3.1'

services:
  db:
    image: mysql
    container_name: mysql
    restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: db
      MYSQL_PASSWORD: test
      MYSQL_USER: test
